@import url(./css/gruvbox-dark.css);

:root {
  background-color: var(--bg);
  color: var(--fg);
  border: var(--fg);
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 300px;
  justify-items: center;
  align-items: center;
}

.sideSection {
  display: grid;
  grid-template-rows: 60px 200px;
  margin: 20px;
}

.playerSection {
  border: 5px solid var(--fg);
  padding: 20px;
  border-radius: 15px;
  min-width: 150px;
}

.gameboard {
  justify-self: center;
  display: grid;
  gap: 5px;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;

  background-color: var(--fg);
  padding: -50px;
}

.field {
  all: unset;
  background-color: var(--bg);
  text-align: center;
  font-size: 30px;

  &:hover {
    background-color: var(--yellow-dim);
  }
}

.playerName:hover,
.playerSymbol:hover,
.totalRounds:hover {
  cursor: pointer;
  color: var(--fg3);
}

.highlight {
  background-color: var(--orange);
}

.highlight-dissolve.highlight-dissolve {
  background-color: var(--bg);
  transition: background-color 2s 0.5s;
}

.highlightTurnP1 {
  background-color: var(--red);
  color: var(--bg);
  border: 5px solid var(--red-dim);
}

.highlightTurnP2 {
  background-color: var(--blue);
  color: var(--bg);
  border: 5px solid var(--blue-dim);
}

.highlightWinner {
  background-color: var(--yellow);
  color: var(--bg);
  border: 5px solid var(--yellow-dim);
}

.highlightDraw {
  background-color: var(--red-dim);
}

.main-footer {
  text-align: center;
}

.dialogInput {
  display: block;
}

.btnNewGame {
  width: 160px;
  height: 60px;
  background-color: var(--bg-4);
  color: var(--fg);
  font-size: 20px;
}

.bold {
  font-weight: 700;
}

dialog {
  position: absolute;
  background-color: var(--bg2);
  height: 120px;
  width: 300px;
  border-radius: 15px;
  border: 3px solid var(--yellow-dim);
  text-align: center;
  color: var(--fg);
  margin: 0 auto; /* enable positioning */
  top: 220px;

  & #dialogLabel {
    padding: 20px;
    text-align: center;
  }

  & #dialogInput {
    margin: 20px auto;
    background-color: var(--fg);
  }

  & .modalBtn {
    background-color: var(--bg2);
    color: var(--fg);
    width: 100px;
    height: 30px;
  }

  &::backdrop {
    backdrop-filter: blur(5px);
  }
}
